<launch>
	<node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
 		<param	name="base_frame"		          value="base_footprint"/>
 		<param	name="map_frame"			  value="map"/> 
 		<param	name="odom_frame"			  value="base_footprint" />
 		<param	name="map_resolution"		   	  value="0.025"/>
		<param	name="map_size"				  value="1024"/>
 		<param	name="map_start_x" 			  value="0.5"/>
 		<param	name="map_start_y" 			  value="0.5" />
 		<param	name="map_update_distance_thresh" 	  value="0.4"/>
 		<param	name="map_update_angle_thresh"	  	  value="0.06" />
 		<param	name="update_factor_free" 		  value="0.4"/>
 		<param	name="update_factor_occupied"	  	  value="0.9" />  
 		<param	name="laser_min_dist"			  value="1.0"/>
 		<param	name="laser_z_min_value"		  value="-1.0" />
 		<param	name="laser_z_max_value"		  value="1.0" />  
        <param  name="tf_map_scanmatch_transform_frame_name"      value="base_footprint"/>		
</node>

</launch>
